ci:
  autofix_prs: false
  autoupdate_schedule: monthly

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff-check
        args: [ --fix, --unsafe-fixes ]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        additional_dependencies:
          - rhoknp==1.7.1
          - pandas
          - pytest
  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uvx ty check
        language: python
        pass_filenames: false
        additional_dependencies:
          - rhoknp==1.7.1
          - pandas
          - pytest
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint
