name: Test

on: [ push, pull_request ]

jobs:
  test:
    name: Run tests with pytest
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 15
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        python-version: [ "3.10", "3.11", "3.12", "3.13", "3.14" ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          uv venv --python ${{ matrix.python-version }}
          uv sync --all-extras
      - name: Run tests (non-Windows)
        if: ${{ matrix.os != 'windows-latest' }}
        run: uv run pytest
      - name: Run tests (Windows)
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          $env:PYTHONUTF8 = "1"
          uv run pytest
        shell: pwsh
